<div class="row">
<h3>Create Question Timeline</h3>
<p>A question timeline is played by you throughout your class.  Use the Add Question button to add a question that you or someone else has created.</p>
<!-- Please refactor me, what is this I don't even -->
<!-- Reference: http://getbootstrap.com/css/#grid-options -->
</div>
<div class="row">
  <h4>Name your Question Timeline:</h4>
   <input type="text" class="form-control" ng-model="questionSetName" />

<div class="container-fluid">
  <div class="row">
    <h4>Questions entered in your Timeline:</h4>
      <button type="button" class="btn-primary" ng-click="addQuestion()">Add Existing...</button>  
      <button type="button" class="btn-primary" ng-click="createNewQuestion()">Create New...</button>    
      <button type="button" class="btn-danger">Delete Selected</button>
      <!-- http://plnkr.co/edit/eZTtRVTPb7k9kgS8woKh?p=preview -->
      <div class="row" ng-show="showNewQuestion">
        <newquestion></newquestion>
      </div>
      <br /><br />
  </div>

  <div class="row">
    <div class="input-group">
      <span class="input-group-addon">
        <input type="checkbox" aria-label="...">
      </span>
        <input type="text" class="form-control" aria-label="...">
    </div><!-- /input-group -->
  </div>
  <br/>
  <div class="row">
      <button type="button" class="btn-primary" ng-click="submitQuestionSet(question1,question2,question3,question4,question5,question6)">Save Timeline</button>
      <br />
  </div><!--endrow-->

</div> <!--endof container-->

