<div class="row marketing">
	<h3>Create Question</h3>
	<h4>Enter your question in the form below.</h4>


			<textarea type="text" class="form-control" ng-model="questionBody" />
			<br />
			<input type="text" class="form-control" ng-model="choice1" />
			<br />
			<input type="text" class="form-control" ng-model="choice2" />
			<br />
			<input type="text" class="form-control" ng-model="choice3	" />
			<br />
			<button type="button" class="btn btn-primary" ng-click="submitQuestion(questionBody,choice1,choice2,choice3)">Submit Question</button>
		</div>
	</div>
</div>