<!--
<form
  ng-if="Session.loggedOn == 0"
  name="loginForm"
  ng-controller="LoginController"
  ng-submit="login(credentials)"
  novalidate>
  <div class="form-group">
    <label for="username">Username:</label>
    <input
      type="text"
      id="username"
      name="username"
      ng-model="credentials.username">
  </div>
  <label for="password">Password:</label>
  <input
    type="password"
    id="password"
    name="password"
    ng-model="credentials.password">

  <div class="form-group">
    <button type="submit" class="btn-primary btn">Login</button>
  </div>
</form>
-->

<!-- FORM -->
<!-- pass in the variable if our form is valid or invalid -->
<form
  ng-if="Session.loggedOn == 0"
  ng-controller="LoginController"
  name="loginForm"
  ng-submit="login(credentials)"
  novalidate> <!-- novalidate prevents HTML5 validation since we will be validating ourselves -->

  <!-- USERNAME -->
  <div class="form-group">
    <label class="col-sm-2 control-label">Username</label>
    <input
      type="text"
      name="username"
      placeholder="username"
      class="form-control"
      ng-model="credentials.username"
      ng-minlength="3"
      required>
    <p ng-show="loginForm.username.$error.minlength" class="help-block">Username is too short.</p>
  </div>

  <!-- PASSWORD -->
  <div class="form-group">
    <label class="col-sm-2 control-label">Password</label>
    <input
      type="password"
      name="password"
      placeholder="password"
      class="form-control"
      ng-model="credentials.password"
      ng-minlength="3"
      required>
    <p ng-show="loginForm.password.$error.minlength" class="help-block">Password is too short.</p>
  </div>

  <!-- LOGIN BUTTON -->
  <div class="form-group">
    <button
      ng-disabled="loginForm.username.$error.minlength || loginForm.username.$error.required || loginForm.password.$error.required"
      type="submit"
      class="btn btn-primary">Login</button>
  </div>
</form>
