
    <ul class="nav nav-pills pull-right">
      <li><a ng-href="#/">Login</a></li>
      <li><a ng-href="#/answer_question">Answer Question</a></li>
      <li><a ng-href="#/create_question">Create Question</a></li>
      <li><a ng-href="#/create_question_set">Create Question Timeline</a></li>
      <li><a ng-href="#/question_promptor">Question Promptor</a></li>
    </ul>



<nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">smartesl</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li ng-if="Session.loggedOn == 1"><a ng-href="#/">Logout</a></li>
              <li ng-if="Session.loggedOn == 0"><a ng-href="""#/">Login</li>
              <li><a ng-href="#/answer_question">Answer Question</a></li>
              <li><a ng-href="#/create_question">Create Question</a></li>
              <li><a ng-href="#/create_question_set">Create Question Timeline</a></li>
              <li><a ng-href="#/question_promptor">Question Promptor</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>
      <p ng-if="Session.loggedOn">Welcome, {{Session.firstName}}. Your role is {{Session.role}}.</p>
